{% extends 'base.html' %}

<!-- {% block nav %}

    {% for category in categories %}
        <a class="dropdown-item" href="#">{{category}}</a>
    {% endfor %}  
    
{% endblock %} -->


{% block content %}


<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ book.title }}</h1>

        <!-- Category -->
        <p class="lead">
            <a href="{% url 'category' book.categories.c_slug %}"><span class="badge badge-primary">{{ book.categories }}</span></a>
        </p>

        <hr>

        <!-- Authors -->
        By 
        {% for author in book.authors.all %}
            <span class="badge badge-info">{{ author  }} </span>
        {% endfor %}

        <hr>

        <!-- Preview Image -->

        <div class="text-center">
            <img class="img-fluid rounded" src="{{ book.image.url }}" alt="Responsive image" width="200px" height="200px" >
            <p class="font-weight-bold">TK. {{ book.price }}</p>
            <a href="#" class="btn btn-primary my-2">Add to Cart</a>
        </div> 
        
       
        <hr>

        <!-- Post Content -->
        <h2>Product Information</h2>
        <hr>
        <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row">Title</th>
                <td>{{ book.title }}</td>
              </tr>
              <tr>
                <th scope="row">Author</th>
                <td>{% for author in book.authors.all %}
                <p>{{ author  }}</p>
                {% endfor %}</td>

              </tr>
              <tr>
                <th scope="row">Publisher</th>
                <td>{{ book.publisher.p_name }}</td>
              </tr>
              <tr>
                <th scope="row">First Published</th>
                <td>{{ book.publication_date }}</td>
              </tr>
              <tr>
                <th scope="row">Details</th>
                <td>{{ book.description|truncatewords:120 }}</td>
              </tr>
            </tbody>
          </table>

        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4" style="padding-top: 100px;">

        <!-- Search Widget -->
        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Web Design</a>
                            </li>
                            <li>
                                <a href="#">HTML</a>
                            </li>
                            <li>
                                <a href="#">Freebies</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">JavaScript</a>
                            </li>
                            <li>
                                <a href="#">CSS</a>
                            </li>
                            <li>
                                <a href="#">Tutorials</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
                You can put anything you want inside of these side widgets. They are easy to use, and feature the new
                Bootstrap 4 card containers!
            </div>
        </div>

    </div>

</div>

{% endblock %}